<!DOCTYPE html>
<html lang="{{.Lang}}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
    <script src="https://unpkg.com/htmx.org@2.0.3" integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq" crossorigin="anonymous"></script>

    <title>{{.Title}}</title>
</head>

<body>
    <nav>index</nav>
    <main>
        {{ block "display" . }}
        <div id="guildes" hx-boost="true" style="display: flex; flex-direction: column; align-items: center;">
            {{ range .Items }}
            <div  hx-confirm="Delete {{.Name}} ?" hx-target="closest div" hx-swap="outerHTML swap:1s" style="display: flex;justify-content: space-between; width: 50vw;">
                <p>{{ .Name }}</p>
                <img referrerpolicy="no-referrer" src='{{ .Img_url }}' alt="Imgage of {{ .Name }}" />
                <a href="{{.Page_url}}" target="_blank">Official page</a>
                <button hx-delete="/guildes/{{.Uuid}}">Delete</button>
            </div>
            {{ end }}
            <div id="pagination">
                {{ if gt .CurrentPage 1 }}
                    <a href="?page={{ .GetPrevPage }}">Previous</a>
                {{ end }}
                 <a >{{ .CurrentPage }}</a>
                {{ if lt .CurrentPage .TotalPages }}
                    <a href="?page={{  .GetNextPage }}">Next</a>
                {{ end }}
            </div>
        </div>
        {{ end }}
    </main>
    <footer>hihi</footer>
</body>

</html>


