<!DOCTYPE html>
<html lang="{{.Lang}}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
    <script src="https://unpkg.com/htmx.org@2.0.3"
        integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq"
        crossorigin="anonymous"></script>

    <title>{{.Title}}</title>
</head>
<body>
    <nav>nav bar</nav>
    {{block "content" .}}{{end}}
    <script>
        class BooleanCheckbox extends HTMLInputElement {
            constructor() {
                super();
            }
            get checked() {
                return true;
            }
            get value() {
                if (super.checked) {
                    return true;
                } else {
                    return false;
                }
            }
        }
        customElements.define("boolean-checkbox", BooleanCheckbox, { extends: "input" });
    </script>
</body>
</html>
