<!DOCTYPE html>
<html lang="{{.Lang}}">
{{template "header" .}}

<body>
    <main>
        <div style="width: 50vw; margin: auto;">
            <input type="search" name="name" placeholder="Filter guildes..." hx-get="/guildes"
                hx-trigger="input changed delay:500ms, search" hx-target="#guildes">
        </div>
        <div style="width: 60; margin: auto;">
            <span><label for="filterCheckbox">Validated:</label>
                <input type="checkbox" is="boolean-checkbox" targ name="validated" hx-get="/guildes" hx-trigger="input"
                    hx-target="#guildes" hx-push-url="true"></span>
        </div>
        {{template "display-guildes" .}}
    </main>
</body>

</html>


{{ define "display-guildes" }}
<table id="guildes" style="width: 60vw; margin: auto;">
    <thead>
        <tr>
            <th>Name</th>
            <th>Image</th>
            <th>Official Page</th>
            <th>Validated</th>
            <th>Creation date</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{ range .Items }}
        {{ template "guilde-row" . }}
        {{ end }}
    </tbody>
    <tfoot>
        <tr>
            <td colspan="7" style="text-align: center;">
                {{ if gt .CurrentPage 1 }}
                <a hx-get="{{ .GetPrevPage }}" hx-target="#guildes" style="cursor: pointer;"
                    hx-push-url="true">Previous</a>
                {{ end }}
                Page {{ .CurrentPage }}
                {{ if lt .CurrentPage .TotalPages }}
                <a hx-get="{{ .GetNextPage }}" hx-target="#guildes" style="cursor: pointer;" hx-push-url="true">Next</a>
                {{ end }}
            </td>
        </tr>
    </tfoot>
</table>
{{ end }}

{{define "guilde-row"}}
<tr>
    <td>{{ .Name }}</td>
    <td><img referrerpolicy="no-referrer" src="{{ .Img_url }}" alt="Image of {{ .Name }}" /></td>
    <td><a href="{{.Page_url}}" target="_blank">Official page</a></td>
    <td><input type="checkbox" {{if .Validated}} checked {{end}} value="{{.Validated}}" disabled="true">
    </td>
    <td>{{ GetDate .Creation_date }}</td>
    <td><button hx-delete="/guildes/{{.Uuid}}" hx-confirm="Delete {{.Name}} ?" hx-target="closest tr"
            hx-swap="outerHTML swap:1s">Delete</button></td>
    <td><button hx-get="/guildes/edit/{{.Uuid}}" hx-target="closest tr" hx-swap="outerHTML">Edit</button></td>
</tr>
{{end}}

{{define "edit-guilde-row"}}
<tr>
    <td><input name="name" value="{{.Name}}"></td>
    <td><img referrerpolicy="no-referrer" src="{{ .Img_url }}" alt="Image of {{ .Name }}" /></td>
    <td><a href="{{.Page_url}}" target="_blank">Official page</a></td>
    <td><input name="validated" type="checkbox" is="boolean-checkbox" {{if .Validated}} checked {{end}}
            value="{{.Validated}}">
    </td>
    <td><input name="creation-date" type="date" value="{{ GetDate .Creation_date }}"></td>
    <td><button hx-patch="/guildes/{{.Uuid}}" hx-confirm="Save changes ?" hx-target="closest tr" hx-swap="outerHTML"
            hx-include="closest tr">Save</button></td>
    <td><button hx-get="/guildes/row/{{.Uuid}}" hx-target="closest tr" hx-swap="outerHTML">Cancel</button></td>
</tr>
{{end}}